body { font: 14px/1.5 helvetica-neue, helvetica, arial, san-serif; padding:10px; }

h1 { margin-top:0; }

.main { width: 600px; margin:auto; background: #ececec; padding: 20px; border: 1px solid #ccc; }
.upload { padding:6px 30px; background:;}
.webupload-list { overflow:hidden; zoom:1; list-style:none; margin:0; padding:20px 0; }
.webupload-list li { float:left; background: #fff; border: 1px solid #ccc; text-align:center; padding:5px; margin:5px 10px 5px 0; }
.webupload-list li img { width: 80px; vertical-align: middle; }
